export(backupUsrDic)
export(convertHangulStringToJamos)
export(convertHangulStringToKeyStrokes)
export(doKoMorph)
export(extractNoun)
export(HangulAutomata)
export(is.ascii)
export(is.hangul)
export(is.jaeum)
export(is.jamo)
export(is.moeum)
export(mergeUserDic)
export(MorphAnalyzer)
export(reloadAllDic)
export(restoreUsrDic)
export(SimplePos09)
export(SimplePos22)
export(useSejongDic)
export(useSystemDic)
import("rJava")
